<div class="card mt-2">
  <div class="card-header">
    Employee Details
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Name: <h5>{{employee.name}} {{employee.lastName}}</h5>
      </li>
      <li class="list-group-item">
        Email: <h5>{{employee.email}}</h5>
      </li>
      <li class="list-group-item">
        Start Date: <h5>{{employee.startDate}}</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit()">Edit</button>
    <button type="button" class="btn btn-outline-danger m-1 btn-sm" (click)="onDelete()">Delete</button>
  </div>
</div>
<button type="button" class="btn btn-secondary mt-2" (click)="onGoBackToList()">Go Back to list</button>
{{employee | json}}
