<div class="card mt-2">
  <div class="card-header">
    Employee Details
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Name: <h5>Manuel Perez</h5>
      </li>
      <li class="list-group-item">
        Email: <h5>me@gmail.com</h5>
      </li>
      <li class="list-group-item">
        Start Date: <h5>01/02/2021</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit()">Edit</button>
    <button type="button" class="btn btn-outline-danger m-1 btn-sm" (click)="onDelete()">Delete</button>
  </div>
</div>
<button type="button" class="btn btn-secondary mt-2" (click)="onGoBackToList()">Go Back to list</button>
